/** 
/* 01. =webfonts and iconfonts
/* =================================================================== */
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

/** 
/* 02. =document setup
/* =================================================================== */

/* Body 
---------------------------------------------------------------------- */
html,
body {
	height: 100%;
}

body {
	background: #12151B;
	font: 16px/30px "merriweather-regular", serif;
	font-weight: normal;
	color: white;
}

/* links 
---------------------------------------------------------------------- */
a,
a:visited {
	outline: none;
	color: #676767;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #8A2426;
}

/* Typography
--------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "raleway-heavy", sans-serif;
	color: #FFFFFF;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin: 18px 0 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin-top: 0;
	letter-spacing: -1px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-size: 17px;
	line-height: 30px;
}

h5 {
	font-size: 14px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h6 {
	font-size: 13px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	margin: 15px 0 15px 0;
}

p img {
	margin: 0;
}

p.lead {
	font: 20px/36px "merriweather-light", serif;
	color: #707273;
}

em {
	font: 16px/30px "merriweather-italic", serif;
	font-style: normal;
}

strong,
b {
	font: 16px/30px "merriweather-bold", serif;
	font-weight: normal;
}

small {
	font-size: 11px;
	line-height: inherit;
}

blockquote {
	margin: 18px 0px;
	padding-left: 40px;
	position: relative;
}

blockquote:before {
	content: "\201C";
	opacity: 0.45;
	font-size: 80px;
	line-height: 0px;
	margin: 0;
	font-family: arial, sans-serif;
	position: absolute;
	top: 30px;
	left: 0;
}

blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}

blockquote cite {
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: #707273;
	border: none;
}

abbr {
	font-family: "merriweather-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #707273;
}

pre,
code {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 3px;
	background: #ECF0F1;
	color: #707273;
	border-radius: 3px;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #FFF49B;
	color: #000005;
}

hr {
	border: solid #707273;
	border-width: 1px 0 0;
	clear: both;
	margin: 23px 0 12px;
	height: 0;
}

/* Lists  
--------------------------------------------------------------------- */
ul,
ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: disc;
	margin-left: 17px;
}

dl {
	margin: 0 0 15px 0;
}

dt {
	margin: 0;
	color: #8A2426;
}

dd {
	margin: 0 0 0 20px;
}

/* Floated image  
--------------------------------------------------------------------- */
img.pull-right {
	margin: 12px 0px 0px 18px;
}

img.pull-left {
	margin: 12px 18px 0px 0px;
}

/* Style Placeholder Text  
--------------------------------------------------------------------- */
::-webkit-input-placeholder {
	color: #12151B;
}

:-moz-placeholder {

	/* Firefox 18- */
	color: #12151B;
}

::-moz-placeholder {

	/* Firefox 19+ */
	color: #12151B;
}

:-ms-input-placeholder {
	color: #12151B;
}

.placeholder {
	color: #12151B !important;
}

/* block grids default paddings 
--------------------------------------------------------------------- */
.bgrid {
	padding: 0 20px;
}

@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}

}

@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}

}

@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}

}

@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}

}


/* 
/* 03. =Preloader
/* =================================================================== */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0F1215;
	z-index: 9999999;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-color: #8A2426;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}

}

@keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}

}


/* 
/* 04. =forms
/* =================================================================== */

form {
	margin-bottom: 30px;
}

fieldset {
	margin: 0 0 30px 0;
	padding: 0;
	border: none;
}

input,
button {
	-webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="email"],
input[type="companyName"],
input[type="address"],
input[type="password"],
input[type="mobile"],
textarea,
select {
	display: block;
	padding: 9px 10px;
	margin: 0 0 12px 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	font-family: "raleway-bold", sans-serif;
	font-size: 15px;
	line-height: 24px;
	border-radius: 3px;
	max-width: 100%;
	color: #a3a4a6;
	background: rgba(255, 255, 255, 0.1);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

textarea {
	min-height: 252px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="companyName"]:focus,
input[type="address"]:focus,
input[type="password"]:focus,
input[type="mobile"]:focus,
select:focus,
textarea:focus {
	color:#8A2426;
	background: #FFFFFF;
}

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font: 16px/30px "raleway-heavy", sans-serif;
	padding: 9px 16px;
	margin: 0 3px 6px ;
	background: #8A2426;
	color: white;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	height: auto;
	text-align: center;
	border: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	border-radius: 3px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #000000;
	position: relative;
	background: #FFFFFF;
}
label span,
legend span {
	color: #8A2426;
	font: 16px/30px "raleway-bold", sans-serif;
}

input[type="checkbox"] {
	display: inline;
}


/** 
/* 05. =theme common styles
/* =================================================================== */

/* hr */
hr {
	border: solid #283436;
	border-width: 3px 0 0;
	width: 100px;
	margin: 11px 0 30px;
	height: 0;
	clear: both;
	text-align: left;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* for css animations */
.show {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 2;
}

/* sections */
.section-head h1 {
	font: 15px/30px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 18px;
}

.section-head h1 span {
	color: #8A2426;
	position: relative;
	left: 3px;
}

.section-head p {
	font: 20px/36px "merriweather-light", serif;
	width: 95%;
}

.section-head:hover h1 + hr {
	border-color: #8A2426;
	width: 120px;
	text-align: left;
}
@media only screen and (max-width:768px) {
	.section-head {
		text-align: center;
	}

	.section-head p {
		font: 18px/36px "merriweather-light", serif;
		width: auto;
	}

	.section-head h1 + hr {
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width:600px) {
	.section-head p {
		font: 17px/33px "merriweather-light", serif;
		width: auto;
	}

}

@media only screen and (max-width:400px) {
	.section-head [class*="column"] {
		padding: 0;
	}

}


/** 
/* 06. =header styles
/* =================================================================== */

header {
	height: 66px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 600;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;  

	
}
header.opaque {
	background: black;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* header logo */
header .logo {
	float: left;
	width: auto;
	margin-left: 15px;
	margin-right: 30px;
	z-index: 600;  
	/* add position relative since z-index only applies to  
	elements that have been given an explicit position */
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 114px;
	height: 66px;
	background: url("../images/bon.png") no-repeat center;
	background-size: 100px 70px;
}

/* media queries:  
/* header/header components */
@media only screen and (max-width:880px) {
	header .header-login {
		display: block;
	}

}

@media only screen and (max-width:768px) {
	header {
		background: black;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	header .row {
		width: 100%;
	}

	header .logo {
		margin-left: -30px;
	}

}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap,
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding-right: 10px;
}

/* nav-wrap */
#nav-wrap {
	font: 13px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	float: left;  
}

/* hide toggle button */
#nav-wrap > a {
	display: none;
}

ul#nav {
	min-height: 66px;
	display: inline-block;
	width: auto;  

	/* left align the menu */
	text-align: left;
}

ul#nav li {
	position: relative;
	list-style: none;
	display: inline-block;
	height: 66px;    
}

/* Links */
ul#nav li a {

	/* 14px padding top + 14px padding bottom + 38px line-height = 66px */
	display: block;
	padding: 14px 12px;
	line-height: 38px ;
	text-decoration: none;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
ul#nav li a:hover {
	color:#8A2426;
	background-color:transparent !important;
}

ul#nav li a:active {
	background-color: transparent !important;
}

ul#nav li.current a {
	color: #8A2426;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	display: inline-block;
}
.dropdown a:hover{
	color: #8A2426;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
    position: absolute;
    background-color: #8A2426;
    min-width: 150px;
	font-size: 12px;
	font-stretch:wider;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
	background-color: #8A2426;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: white;
	color: black !important;
	position: relative;
	width: 150px;
}
.dropdown-content a{
	line-height: 28px !important;
}

ul#nav li.current a:after {
position: absolute;
	left: 50%;
	bottom: 0;
	width: 40px;
	height: 2px;
	margin-left: -23px;
	background-color: #8A2426;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}

/* mobile navigation 
--------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#nav-wrap {
		z-index: 700;
		display: block;
		width: 100%;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}

	/* mobile-btn and toggle-btn */
	#nav-wrap > a {
		border: none;
		color: #8A2426;
		height: 40px;
		min-width: 40px;
		font-size: 12px;
		text-align: left;
		float: right;
		display: block;
		padding: 0;
		position: relative;
		top: 13px;
		right: 20px;
	}

	#nav-wrap > a:hover .menu-icon {
		background: #8A2426;
	}

	#nav-wrap .menu-icon {
		display: inline-block;
		width: 24px;
		height: 3px;
		margin-top: -3px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background: #8A2426;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}

	#nav-wrap .menu-icon:before,
	#nav-wrap .menu-icon:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}

	#nav-wrap .menu-icon:before {
		bottom: 8px;
	}

	#nav-wrap .menu-icon:after {
		top: 8px;
	}

	/* dropdown nav */
	#nav-wrap ul#nav {
		background: #1c212a;
		padding: 54px 45px 60px 45px;
		margin: 0;
		height: auto;
		display: none;
		clear: both;
		width: 100%;
		float: none;
		position: absolute;
		top: 65px;
		right: 0;
	}

	#nav-wrap ul#nav > li {
		display: block;
		float: none;
		height: auto;
		top: -35px;
		line-height: 20px;
		text-align: left;
		border-bottom: 1px inset rgba(200, 200, 200, 0.1);
		padding: 6px 0;
		padding-left: 10px;
	}

	#nav-wrap ul#nav > li:first-child {
		border-top: 1px thick rgba(200, 200, 200, 0.1);
	}

	#nav-wrap ul#nav li a {
		display: block;
		width: auto;
		padding: 0;
		text-align: center;
		color: #cacbcb;
		line-height: 20px;
		border: none;
	}
	#nav-wrap ul#nav li a:hover {
		color: #8A2426;
		line-height: 20px;
	}
	
	#nav-wrap ul#nav li.current > a {
		background: none;
		color: #8A2426;
	}

	#nav-wrap ul#nav li.current > a:after {
		display: none;
	}

	#nav-wrap a.mobile-btn {
		display: none;
	}
	.js #nav-wrap a#toggle-btn {
		display: block;
	}
	/* if js is disabled */
	.no-js #nav-wrap:not(:target) > a:first-of-type,
	.no-js #nav-wrap:target > a:last-of-type {
		display: block;
	}

	.no-js #nav-wrap:target ul#nav {
		display: block;
	}

}

/* make sure the menu is visible on larger screens
--------------------------------------------------------------------- */
@media only screen and (min-width:769px) {
	#nav-wrap ul#nav {
		display: block !important;
	}

}


/* 
/* 07. =hero section
/* =================================================================== */

#hero {
	background: #0F1215 url(../images/back.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 300px;
	width: 100%;
	text-align: left;
	position: relative;
	border-bottom: 1px solid #15191d;
}

.hero-content {
	position: relative;
	padding-top: 66px;
	padding-bottom: 102px;
}

@media only screen and (max-width:1024px) {
	.hero-content {
		padding-bottom: 90px;
	}

}

@media only screen and (max-width:768px) {
	#hero {
		min-height: 150px;
	}

	.hero-content {
		padding-bottom: 72px;
	}

}

@media only screen and (max-width:600px) {
	.hero-content {
		padding-bottom: 72px;
	}

}

@media only screen and (max-width:480px) {
	.hero-content {
		padding-bottom: 72px;
	}

}

@media only screen and (max-width:400px) {
	.hero-content {
		padding-bottom: 54px;
	}

}
/* search container */
#search_bar_container {
    background: #333;
	display:inline;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.search_bar {
    position: relative;
    width: 60%;
    margin: auto;
}

select#searchDropdownBox {
	position:absolute;
	height:43px;
	border-right:.1px solid #eee;
}
.nav-submit-button {
    background: url(../images/search-bt.png) no-repeat center center;
    border: none;
    cursor: pointer;
    display: block;
    height: 45px;
    right: 5px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 40px;
}

/* MENU */
#menu {
	background: #0B0E16;
	padding-top: 80px;
	padding-bottom: 138px;
	overflow: hidden;
	border-bottom: 1px solid #15191d;  
}
table {
	align-content: center;
	table-layout: auto;
}
table, th,tr {
    border: 0;
    border-collapse:  collapse;
}
.tr {
	word-break:break-strict;
}
.table-responsive {
	overflow: hidden;
}
th {
	width: 120px;
	padding: 2px;
	border: 0;
	text-align:justify;
	margin-left:200px;
}
th, tr, td {
	width:auto;
	border:0;
	padding: 5px 20px;
    text-align: left;
}
/* About us*/
#about {
	background: #202029;
	padding-top: 30px;
	padding-bottom: 138px;
	overflow: hidden;
	border-bottom: 1px solid #15191d;  
}
#about p {
		padding-left: 120px;
}
.rstrnts_div {
	background-color:#0B0E16; 
	border:none;
}
.rstrnt_link {
	text-decoration:none;
	font-size:24px;
	text-transform:uppercase;
	font-weight:700;
}
.rstrnt_link:hover {
	color:#fff;
	text-decoration:none;
}

::-webkit-input-placeholder {
   color: #a3a4a6;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a3a4a6;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a3a4a6;  
}

:-ms-input-placeholder {  
   color: #a3a4a6;  
}
/** 
/* 12. =contact
/* ==============================;===================================== */

#contact {
	background: #12151B;
	padding-top: 120px;
	padding-bottom: 138px;
	overflow: hidden;
	border-bottom: 1px solid #15191d;  
}

#contact h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #8A2426;
	padding: 0;
	margin-bottom: 6px;
}

#contact .left {
	padding-right: 35px;
}

#contact .right {
	padding-left: 35px;
	position: relative;
	top: -6px;
}

/* media queries:  
/* #contact / .left .right */

@media only screen and (max-width:1024px) {
	#contact .left {
		padding-right: 30px;
	}

	#contact .right {
		padding-left: 30px;
	}

}

@media only screen and (max-width:768px) {
	#contact .left,
	#contact .right {
		width: 100%;
		padding: 0 15px;
	}

	#contact .right p.lead {
		font: 18px/36px "merriweather-light", serif;
	}

}

@media only screen and (max-width:600px) {
	#contact .left,
	#contact .right {
		padding: 0 10px;
	}

	#contact .right p.lead {
		font: 17px/33px "merriweather-light", serif;
	}

}

@media only screen and (max-width:400px) {
	#contact .left,
	#contact .right {
		padding: 0;
	}

}

/* contact form */
#contact form {
	margin-top: 12px;
	margin-bottom: 30px;
}

#contact form div {
	position: relative;
}

#contact form div:before,
#contact form div:after {
	content: "";
	display: table;
}

#contact form div:after {
	clear: both;
}

#contact form div label {
	font: 11px/24px "raleway-bold", sans-serif;
	position: absolute;
	bottom: 3px;
	right: 6px;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 20px;
	color: #8A2426;
}

input[type="text"],
input[type="email"],
input[type="companyName"],
input[type="address"],
input[type="password"],
input[type="mobile"],
#contact textarea,
#contact select {
	width: 100%;
}

#contact button.submitform {
	font: 15px/30px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	position: relative;
	width: 130px;
	letter-spacing: 2px;
	height: 60px;
	display: inline-block;
	padding: 15px 30px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

#message-warning,
#message-success {
	display: none;
	background: #0F1215;
	border-radius: 3px;
	padding: 24px;
	margin-bottom: 36px;
	width: 100%;
}

#message-warning {
	color: #8A2426;
}

#message-success {
	color: #8A2426;
}

#message-warning i,
#message-success i {
	margin-right: 10px;
}

/* form loader */
#submit-loader {
	display: none;
	position: relative;
	left: 0;
	top: 18px;
	width: 100%;
	text-align: center;
}

#submit-loader .text-loader {
	display: none;
	position: relative;
	font: 14px/30px "raleway-heavy", sans-serif;
	color: #FFFFFF;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.oldie #submit-loader .s-loader {
	display: none;
	position: relative;
}

.oldie #submit-loader .text-loader {
	display: block;
	position: relative;
}

/* loader animation 
------------------------------------------- */
.s-loader {
	margin: 12px auto 30px;
	width: 70px;
	text-align: center;
	-moz-transform: translateX(2.5px);
	-o-transform: translateX(2.5px);
	-webkit-transform: translateX(2.5px);
	-ms-transform: translateX(2.5px);
	transform: translateX(2.5px);
}

.s-loader > div {
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	margin-right: 5px;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.s-loader .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.s-loader .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

}


/** 
/* 13. =footer
/* =================================================================== */

footer {
	padding-top: 60px;
	padding-bottom: 24px;
	position: relative;
	background-color: black;
	color: rgba(255, 255, 255, 0.15);
}

footer .content {
	margin-bottom: 12px;
}

footer a,
footer a:visited {
	color: #a3a4a6;
}

footer a:hover,
footer a:focus {
	color: #8A2426;
}

footer hr {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 400px;
	width: 80%;
	border-top: 1px solid rgba(150, 150, 150, 0.1);
}

footer .info {
	width: 90%;
	max-width: 600px;
	margin: 42px auto 36px;
	text-align: center;
	clear: both;
}

footer .footer-logo {
	width: 100px;
	height: 23px;
	background-size: 100px 23px;
	margin: 0 auto 21px;
	display: block;
	filter: alpha(opacity=10);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	opacity: 0.1;
	zoom: 1;
}

/* social links */
footer .social-links {
	margin: 30px auto 42px auto;
	padding: 0;
	font-size: 38px;
	text-align: center;
}

footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 32px;
}

footer .social-links li a {
	color: rgba(255, 255, 255, 0.1);
}

footer .social-links li a:hover {
	color: white;
}

footer .social-links li:first-child {
	margin-left: 0;
}

/* media queries - .social-links */

@media only screen and (max-width:600px) {
	footer .social-links {
		font-size: 32px;
	}

	footer .social-links li {
		margin-left: 18px;
	}

}

@media only screen and (max-width:450px) {
	footer .social-links {
		font-size: 28px;
	}

	footer .social-links li {
		margin-left: 14px;
	}

}

@media only screen and (max-width:400px) {
	footer .social-links {
		font-size: 25px;
	}

	footer .social-links li {
		margin-left: 12px;
	}

}

@media only screen and (max-width:350px) {
	footer .social-links {
		font-size: 22px;
	}

	footer .social-links li {
		margin-left: 10px;
	}

}

/* go to top button 
------------------------------------------------------------------ */
#go-top {
	position: absolute;
	top: -21px;
	left: 50%;
	z-index: 600;
}

#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	height: 54px;
	width: 200px;
	margin-left: -100px;
	background: #8A2426;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	color: #FFFFFF;
	text-align: center;
	border-radius: 3px;
	font: 12px/54px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#go-top a:hover {
	background: white;
	color: #000000;
}

#go-top a i {
	margin-left: 6px;
	position: relative;
	right: -5px;
}
/*css styles for register and login tabs*/
*, *:before, *:after {
  box-sizing: border-box;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: white;
  color: black;
}
.tab-group .active a {
  background: #8A2426;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.form {
  padding: 30px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px;
}
#register,#login button.submitform {
	font: 15px/30px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 60px;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	width: 100%;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}


/*USER PROFILE */
#usermenu {
  float: left;
  padding-top: 100px;
  background: transparent;
  list-style: none;
  margin: 0;
  font-weight: lighter;
  font-size: 20px;
  width: 2em;
  display:block
}
#usermenu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#usermenu a {
  background: #8A2426;
  font-family: "raleway-heavy", sans-serif;
  border-bottom: 1px thin #A09898;
  color: #FFFFFF;
  display: block;
  margin: 0;
  padding: 10px 160px 10px 10px;
  text-decoration: none;
  font-weight: normal;
}
#usermenu a:hover {
  background: white;
  color: black;
  padding-bottom: 20px;
}
#page {
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
	float: right;
	background-color: #0B0E16;
}
#menu-toggle {
	display: none;
	width:auto;
}
input[type="text"]
input[type="textarea"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.additem button:hover
{
	width: 120px;
}
.additem button {
	margin-bottom: 200px;
}
.submit-items button {
	padding-right: 90px;
	padding-left: 90px;
}
textarea#address:focus {
	background-color: #FFF !important;
	color: #8A2426;
}
textarea#address:after {
	color: #a3a4a6;
	background: rgba(255, 255, 255, 0.1);

}
.todaymenu {
	padding-left: 50px;
}
#container {
	padding-top: 200px;
	padding-left: 50px;
	padding-bottom: 138px;
	border-bottom: 1px solid #15191d;  
}
#placeorder {
	width: 2000px auto;
}